.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
}

button{
    width: 100px;
    height: 30px;
    margin-right: 10px;
    background-color:dodgerblue;
    color: #fff;
    border: 10px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

